@font-face {
  font-family: r;
  src: url(f/Roboto-Bold.ttf);
}
* {
  font-family: "Roboto Mono", monospace;
  overflow-x: hidden;
}
.main .component h1 {
  overflow-y: hidden;
}

.main .component {
  width: 80%;
  height: 70vh;
}

.main {
  align-self: center;
  margin: auto;
  justify-content: center;
  display: flex;
  padding: 20px;
}
.component {
  margin: auto;
  align-content: center;
  margin: 20px;
  text-align: left;
  overflow-y: hidden;
  
  
}
.main img{
  width: 200px;
  overflow-y: hidden;
}

h2 {
  font-size: 36px;
  font-weight: 600;
  z-index: +100;
}

